.contacts {
	@extend %section-pb;

	&__container {
	}

	&__inner {
		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: 1fr 2fr;
			@include adaptiveValue('gap', 80, 20);
		}
	}

	&__content {
	}

	&__items {
		@media (max-width: $tablet) {
			margin-bottom: toRem(40);
		}

		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(30);
		}
	}

	&__item {
		display: flex;
		gap: toRem(35);
		padding: toRem(35) toRem(40);
		border-radius: 20px;
		background: #f9f9f9;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 40, 15);
		}

		@media (max-width: $mobileSmall) {
			padding: toRem(20);
			@include adaptiveValue('gap', 25, 15, 0, 480, 320);
		}
	}

	&__item-icon {
	}

	&__item-content {
	}

	&__item-title {
		color: $titleColor;
		margin-bottom: toRem(8);
	}

	&__item-phone,
	&__item-mail {
		font-size: toRem(16);
		line-height: 1.5;
		letter-spacing: toRem(0.32);
	}

	&__item-phone {
	}

	&__item-mail {
		color: $purpleMain;
		text-decoration-line: underline;
	}

	&__form.form-section {
		padding-top: 0;
	}
}

.contacts-item-list {
	&__item {
		line-height: 1;

		&:not(:last-child) {
			margin-bottom: toRem(4);
		}
	}
}
