.header {
	border-bottom: 1px solid #efefff;

	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: toRem(20) toRem(55);
		max-width: toRem(1850);
		padding-top: toRem(28);
		padding-bottom: toRem(28);

		@media (max-width: $mobile) {
			padding-top: toRem(20);
			padding-bottom: toRem(20);
			gap: toRem(30);
		}

		@media (max-width: $mobileSmall) {
			padding-top: toRem(14);
			padding-bottom: toRem(14);
			gap: toRem(24);
		}
	}

	&__logo {
		width: toRem(120);
		height: toRem(40);

		@media (max-width: $mobileSmall) {
			width: toRem(96);
			height: toRem(32);
		}
	}

	&__menu {
		@media (max-width: $mobile) {
			order: 1;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: wrap;
		flex: 1 1 auto;
	}

	&__btn {
	}
}
